<h1 class="center"><%= @subject.name %> Assignments</h1>
<hr><hr>
<h3>View Assignment</h3> <!--button-->
<ol>
    <% @subject.assignments.each do |assignment| %>
     <li> 
        <h3>Assignment: <%= assignment.name %></h3>
        <h3>Questions: <%= assignment.questions %></h3>
        <h3>Completed?: <%= assignment.completed %></h3>
        <h3>How difficult was the assignment?: <%= assignment.difficulty %></h3>
     </li> 
    <% end %>
</ol>


<%= link_to "Edit Subject", user_subjects_path %> | <%= link_to "Remove Assignment", user_subject_path, method: "delete" %>